<div style="margin: auto;">
    <aw-wizard>
        <aw-wizard-step stepTitle="Publication Type">
            <form [formGroup]="fgPubtype">
                <div class="step-body"
                    [ngStyle]="{'padding-top.px': bodyHeight * .1>0 ? bodyHeight * .1 : 0, 'min-height': bodyHeight - 210 + 'px'}">
                    <app-pubtype [dataModel]="dataModel"></app-pubtype>
                </div>
                <div class="control-bar">
                    <div class="wiz-nav">
                        <div style="max-width: 1000px; margin: auto;">
                            <div class="wiz-nav-esc" style="float: left;">
                                <button class="btn btn-outline-rounded btn-default" type="button" (click)="cancel();">
                                    Cancel <i style="margin-left: 10px;" class="faa faa-times"></i>
                                </button>
                            </div>
                            <div class="wiz-nav-pn" style="float: right;">
                                <button class="btn btn-outline-rounded btn-default" type="button" disabled>
                                    <i style="margin-right: 10px;" class="faa faa-long-arrow-left"></i> Back
                                </button>
                                <button class="btn btn-outline-rounded btn-info" type="button"
                                    [disabled]="!fgPubtype.get('resourceType')!.value" awNextStep
                                    (click)="save(1)">
                                    Next <i style="margin-left: 10px;" class="faa faa-long-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </aw-wizard-step>
        <aw-wizard-step [canEnter]="dataModel.resourceType != undefined" stepTitle="Contact Info">
            <form [formGroup]="fgContactInfo">
                <div class="step-body"
                    [ngStyle]="{'padding-top': bodyHeight * .15 + 'px', 'min-height': bodyHeight - 203 + 'px'}">
                    <app-contactinfo [dataModel]="dataModel"></app-contactinfo>
                </div>

                <div class="control-bar">
                    <div class="wiz-nav">
                        <div style="max-width: 1000px; margin: auto;">
                            <div class="wiz-nav-esc" style="float: left;">
                                <button class="btn btn-outline-rounded btn-default" type="button" (click)="cancel();">
                                    Cancel <i style="margin-left: 10px;" class="faa faa-times"></i>
                                </button>
                            </div>
                            <div class="wiz-nav-pn" style="float: right;">
                                <button class="btn btn-outline-rounded btn-default" type="button" awPreviousStep>
                                    <i style="margin-right: 10px;" class="faa faa-long-arrow-left"></i> Back
                                </button>
                                <button class="btn btn-outline-rounded btn-info" type="button" awNextStep (click)="save(3)">
                                    Next <i style="margin-left: 10px;" class="faa faa-long-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </aw-wizard-step>
        <aw-wizard-step [awCompletedStep]="dataModel.resourceType != undefined" stepTitle="Files">
            <form [formGroup]="fgFiles">
                <div class="step-body"
                    [ngStyle]="{'padding-top': bodyHeight * .15 + 'px', 'min-height': bodyHeight - 203 + 'px'}">
                    <app-files></app-files>
                </div>

                <div class="control-bar">
                    <div class="wiz-nav">
                        <div style="max-width: 1000px; margin: auto;">
                            <div class="wiz-nav-esc" style="float: left;">
                                <button class="btn btn-outline-rounded btn-default" type="button" (click)="cancel();">
                                    Cancel <i style="margin-left: 10px;" class="faa faa-times"></i>
                                </button>
                            </div>
                            <div class="wiz-nav-pn" style="float: right;">
                                <button class="btn btn-outline-rounded btn-default" type="button" awPreviousStep>
                                    <i style="margin-right: 10px;" class="faa faa-long-arrow-left"></i> Back
                                </button>
                                <button class="btn btn-outline-rounded btn-info" type="button" awNextStep (click)="save(3)">
                                    Next <i style="margin-left: 10px;" class="faa faa-long-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </aw-wizard-step>
        <aw-wizard-step stepTitle="Optional" *ngIf="onSoftware">
            <form [formGroup]="fgSoftwareInfo">
                <div class="step-body"
                    [ngStyle]="{'padding-top': bodyHeight * .15 + 'px', 'min-height': bodyHeight - 203 + 'px'}">
                    <app-softwareinfo></app-softwareinfo>
                </div>

                <div class="control-bar">
                    <div class="wiz-nav">
                        <div style="max-width: 1000px; margin: auto;">
                            <div class="wiz-nav-esc" style="float: left;">
                                <button class="btn btn-outline-rounded btn-default" type="button" (click)="cancel();">
                                    Cancel <i style="margin-left: 10px;" class="faa faa-times"></i>
                                </button>
                            </div>
                            <div class="wiz-nav-pn" style="float: right;">
                                <button class="btn btn-outline-rounded btn-default" type="button" awPreviousStep>
                                    <i style="margin-right: 10px;" class="faa faa-long-arrow-left"></i> Back
                                </button>
                                <button class="btn btn-outline-rounded btn-info" type="button" awNextStep (click)="save(2)">
                                    Next <i style="margin-left: 10px;" class="faa faa-long-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </aw-wizard-step>
        <aw-wizard-step stepTitle="Associated Papers">
            <form [formGroup]="fgAssocPapers">
                <div class="step-body"
                    [ngStyle]="{'padding-top.px': bodyHeight * .1>0 ? bodyHeight * .1 : 0, 'min-height': bodyHeight - 210 + 'px'}">
                    <app-associated-papers></app-associated-papers>
                </div>
                <div class="control-bar">
                    <div class="wiz-nav">
                        <div style="max-width: 1000px; margin: auto;">
                            <div class="wiz-nav-esc" style="float: left;">
                                <button class="btn btn-outline-rounded btn-default" type="button" (click)="cancel();">
                                    Cancel <i style="margin-left: 10px;" class="faa faa-times"></i>
                                </button>
                            </div>
                            <div class="wiz-nav-pn" style="float: right;">
                                <button class="btn btn-outline-rounded btn-default" type="button" awPreviousStep>
                                    <i style="margin-right: 10px;" class="faa faa-long-arrow-left"></i> Back
                                </button>
                                <button class="btn btn-outline-rounded btn-info" type="button"
                                    [disabled]="!fgPubtype.get('resourceType')!.value" awNextStep
                                    (click)="save(1)">
                                    Next <i style="margin-left: 10px;" class="faa faa-long-arrow-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </aw-wizard-step>
    </aw-wizard>
</div>

<!-- <p style="margin: 1em 0;">
    Angular-archwizard ≤ 4.0.0 supported <code>FreeNavigationMode</code> (<code>"navigationMode"="free"</code>).<br>
    You can achieve the same behavior by allowing navigation in both direction and making all steps optional:
  </p>
  
  <pre><code>&lt;aw-wizard [awNavigationMode] navigateBackward="allow" navigateForward="allow"&gt;
    &lt;aw-wizard-step awOptionalStep ...&gt;...&lt;/aw-wizard-step&gt;
    &lt;aw-wizard-step awOptionalStep ...&gt;...&lt;/aw-wizard-step&gt;
    &lt;aw-wizard-completion-step ...&gt;...&lt;/aw-wizard-step&gt;
  &lt;/aw-wizard&gt;
  </code></pre>
  
  <aw-wizard
    [awNavigationMode] navigateBackward="allow" navigateForward="allow">
    <aw-wizard-step [stepTitle]="'Steptitle 1'" awOptionalStep>
      <div class="centered-content">
        <div>
          Content: Step 1
        </div>
  
        <div class="btn-group">
          <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
        </div>
      </div>
    </aw-wizard-step>
    <aw-wizard-step [stepTitle]="'Steptitle 2'" awOptionalStep>
      <div class="centered-content">
        <div>
          Content: Step 2
        </div>
  
        <div class="btn-group">
          <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
          <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
        </div>
      </div>
    </aw-wizard-step>
    <aw-wizard-step [stepTitle]="'Steptitle 3'" awOptionalStep>
      <div class="centered-content">
        <div>
          Content: Step 3
        </div>
  
        <div class="btn-group">
          <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
          <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
        </div>
      </div>
    </aw-wizard-step>
    <aw-wizard-completion-step [stepTitle]="'Completion steptitle'">
      <div class="centered-content">
        <div>
          Completion step content
        </div>
  
        <div class="btn-group">
          <button type="button" class="btn btn-secondary" awResetWizard>Reset</button>
        </div>
      </div>
    </aw-wizard-completion-step>
  </aw-wizard>
  
  <p style="margin: 1em 0;">
    Note that unlike the old <code>FreeNavigationMode</code>, in this example all steps are styled as optional.
    If you absolutely require the same look and feel, you can apply custom CSS:
  </p>
  
  <aw-wizard ngClass="custom-styling"
    [awNavigationMode] navigateBackward="allow" navigateForward="allow">
    <aw-wizard-step [stepTitle]="'Steptitle 1'" awOptionalStep>
      <div class="centered-content">
        <div>
          Content: Step 1
        </div>
  
        <div class="btn-group">
          <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
        </div>
      </div>
    </aw-wizard-step>
    <aw-wizard-step [stepTitle]="'Steptitle 2'" awOptionalStep>
      <div class="centered-content">
        <div>
          Content: Step 2
        </div>
  
        <div class="btn-group">
          <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
          <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
        </div>
      </div>
    </aw-wizard-step>
    <aw-wizard-step [stepTitle]="'Steptitle 3'" awOptionalStep>
      <div class="centered-content">
        <div>
          Content: Step 3
        </div>
  
        <div class="btn-group">
          <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
          <button type="button" class="btn btn-secondary" awNextStep>Continue</button>
        </div>
      </div>
    </aw-wizard-step>
    <aw-wizard-completion-step [stepTitle]="'Completion steptitle'">
      <div class="centered-content">
        <div>
          Completion step content
        </div>
  
        <div class="btn-group">
          <button type="button" class="btn btn-secondary" awResetWizard>Reset</button>
        </div>
      </div>
    </aw-wizard-completion-step>
  </aw-wizard> -->
  