<!-- <wiz-navigator [steps]="steps"></wiz-navigator> -->
<div class="wiz-page-container">
    <wiz-navigator [steps]="steps"></wiz-navigator>
    <form [formGroup]="fgSteps">
        <div class="step-page-container" [ngStyle]="{'padding-top.px': bodyHeight * .1>0 ? bodyHeight * .1 : 0, 'min-height': bodyHeight - 210 + 'px'}">
            <div class="form-step">
                <ng-container [ngSwitch]="currentStep?.stepIndex">
                    <ng-container *ngSwitchCase="'1'">
                        <div formGroupName="pubtype">
                            <app-pubtype [dataModel]="dataModel"></app-pubtype>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'2'">
                        <div formGroupName="contactInfo">
                            <app-contactinfo [dataModel]="dataModel"></app-contactinfo>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'3'">
                        <div formGroupName="files">
                            <app-files></app-files>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'4'">
                        <div formGroupName="softwareInfo">
                            <app-softwareinfo></app-softwareinfo>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'5'">
                        <div formGroupName="assocPapers">
                            <app-associated-papers></app-associated-papers>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </form>
    <div class="bottom-control-container">
        <div class="bottom-btn-container">
            <button (click)="onPrevStep()" class="form-cancel-btn common-btn">
                Cancel
            </button>

            <button (click)="onNextStep()" [disabled]="!currentStep?.canExit" class="form-nav-btn common-btn">
                {{ showButtonLabel() }}
            </button>

            <button (click)="onPrevStep()" [disabled]="!currentStep?.canExit || isFirstStep" class="form-nav-btn common-btn">
                Prev
            </button>
        </div>
    </div>
</div>